body {
  background-color: #100f0f;
}

hr {
  animation: fade 2s infinite;
}

@keyframes fade {
  0% {
    border-color: #ff0303;
    opacity: 0;
  }
  50% {
    border-color: #ff0303;
    opacity: 0.8;
  }
  100% {
    border-color: #ff0303;
    opacity: 0;
  }
}

@keyframes roll {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}

.navbar {
  border-radius: 20px;
  backdrop-filter: blur(8px);
  opacity: 1;
  z-index: 20;
  /* border: solid 1px #100f0f; */
  position: fixed;
  margin: auto auto;
  width: 70%;
}

.navbar-icon {
  font-size: 30px;
  margin: auto auto;
  background-color: #121212;
  padding: 10px 10px;
  border-radius: 10px;
  font-family: "Plaster", cursive;
}

.navbar-links {
  color: white;
  font-family: "Plaster", cursive;
}

.cursor {
  color: #d2001a;
  font-weight: bold;
  animation: blink 1.3s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.particles-canvas {
  /* pointer-events: none; */
  height: 100% !important;
  z-index: 0 !important;
  width: 100% !important;
  position: absolute;
  top: 0px !important;
  left: 0px !important;
  overflow: hidden;
}

.particles-content {
  text-align: center;
  margin: 5% auto;
  position: relative;
  z-index: 1;
}

.particles-content h1 {
  color: white;
  /* opacity: 0.9; */
  font-size: 80px;
  font-weight: bold;
  display: inline-block;
}

.particles-content span {
  opacity: 1;
  color: #d2001a;
  font-size: 180px;
  display: inline-block;
}

.particles-content h2 {
  color: gray;
  opacity: 1;
  font-size: 50px;
}

.particles-content button {
  opacity: 1;
  background-color: transparent;
  border: solid gray;
  color: white;
  padding: 10px 10px;
  font-weight: bold;
}

/* ABOUT ME SECTION */

.aboutme-background {
  background-color: #100f0f;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url(../public/code-clipart.PNG);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: left;
}

.aboutme-background2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url("../public/porfolio-pic2.PNG");
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
}

.aboutme-background hr {
  border: solid none none;
  width: 15%;
  margin: auto auto;
  border-width: 1px;
  display: block;
}

.aboutme-row {
  width: 100%;
  text-align: center;
  margin-top: 15%;
}

.aboutme-col {
  margin-top: 5%;
  text-align: center;
  color: white;
  opacity: 0.9;
}

.aboutme-col2 {
  opacity: 0.9;
  color: gray;
}

.aboutme-title {
  font-size: 75px;
  font-weight: bold;
}

.aboutme-hobbies-title {
  text-align: center;
  font-size: 70px;
  color: white;
}

.aboutme-typewritter {
  font-size: 30px;
  color: #d2001a;
  font-weight: bold;
}

.aboutme-typewritter h4 {
  font-size: 35px;
  color: white;
  margin-top: 40px;
}

/* SKILLS SECTION */

.skills-title {
  margin-left: 20%;
  /* padding: 50px 10px; */
  font-size: 160px;
}

.skills-col {
  margin: auto auto;
  text-align: center;
  color: gray;
}

.skillsCol-content {
  font-size: 40px;
}

.tagcloud {
  color: white;
  font-size: 30px;
  margin: auto 25%;
  font-weight: bold;
}

/* PROJECTS SECTION  */

.projects-title {
  font-size: 290px;
  margin-left: 40%;
  position: absolute;
  z-index: -1;
}

.projects-row {
  width: 100%;
  text-align: center;
  margin-top: 240px;
  z-index: 11;
}

.projects-row2 {
  width: 100%;
  text-align: center;
}

.projects-img-gallery {
  width: 500px;
}

/* CONTACT SECTION  */

.contact-background {
  height: 100%;
  width: 100%;
  background-color: #171717;
  position: relative;
  display: flex;
  background-image: url(../public/code-clipart2.PNG);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 700px;
}

.contact-form {
  text-align: center;
  margin: auto auto;
  padding-bottom: 100px;
}

.contact-title {
  text-align: center;
  padding-bottom: 20px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  display: inline-block;
}

.contact-title-dot {
  display: inline-block;
  font-size: 180px;
  color: #d2001a;
}

.contact-input {
  display: block;
  width: 30rem;
  height: 3rem;
  font-weight: bold;
  padding: 10px;
  background-color: #100f0f;
  border: none;
  color: white;
  outline: none;
}

.contact-textarea {
  display: block;
  width: 30rem;
  height: 7rem;
  font-weight: bold;
  padding: 10px;
  background-color: #100f0f;
  border: none;
  color: white;
  outline: none;
}

/* MOBILE LAYOUT */
@media (max-width: 992px) {
  hr {
    animation: fade 2s infinite;
    width: 20%;
    margin: auto auto;
  }

  @keyframes fade {
    0% {
      border-color: #ff0303;
      opacity: 0;
    }
    50% {
      border-color: #ff0303;
      opacity: 0.8;
    }
    100% {
      border-color: #ff0303;
      opacity: 0;
    }
  }

  @keyframes roll {
    from {
      transform: translateX(-100px);
    }
    to {
      transform: translateX(0);
    }
  }

  .navbar {
    border-radius: 20px;
    backdrop-filter: blur(8px);
    opacity: 1;
    z-index: 20;
    /* border: solid 1px #100f0f; */
    position: fixed;
    margin: auto auto;
    width: 90%;
  }

  .navbar-icon {
    font-size: 30px;
    margin: auto auto;
    background-color: #121212;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: "Plaster", cursive;
  }

  .navbar-links {
    color: white;
  }

  .cursor {
    color: #d2001a;
    font-weight: bold;
    animation: blink 1.3s infinite;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  .particles-canvas {
    /* pointer-events: none; */
    overflow: hidden;
    height: 100% !important;
    z-index: 0 !important;
    width: 100% !important;
    position: absolute;
    top: 0px !important;
    left: 0px !important;
  }

  .particles-content {
    text-align: center;
    padding-top: 10%;
    /* padding-bottom: 10%; */
    margin: 50% auto;
  }

  .particles-content h1 {
    color: white;
    opacity: 0.9;
    font-size: 40px;
    display: inline-block;
  }

  .particles-content span {
    opacity: 0.9;
    color: #ff0303;
    font-size: 110px;
    display: inline-block;
  }

  .particles-content h2 {
    color: gray;
    opacity: 0.9;
    font-size: 30px;
  }

  .particles-content button {
    opacity: 0.9;
    background-color: transparent;
    border: solid gray;
    color: white;
    padding: 10px 10px;
    font-weight: bold;
  }

  /* ABOUT ME SECTION */

  .aboutme-background {
    background-color: #100f0f;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../public/code-clipart.PNG);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: top;
  }

  .aboutme-background2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url(../public/porfolio-pic2.PNG);
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .aboutme-background hr {
    border: solid none none;
    width: 25%;
    margin: auto auto;
    border-width: 1px;
    display: block;
  }

  .aboutme-row {
    width: 100%;
    text-align: center;
    margin-top: 10%;
  }

  .aboutme-col {
    padding: 20px 40px;
    margin: auto auto;
    margin-left: 10px;
    text-align: center;
    color: white;
  }

  .aboutme-col2 {
    opacity: 0.9;
    margin-top: 300px;
    padding: 30px 40px;
    text-align: center;
    color: gray;
  }

  .aboutme-title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    display: inline-block;
  }

  .aboutme-dot {
    opacity: 0.9;
    color: #ff0303;
    font-size: 120px;
    display: inline-block;
  }

  .aboutme-hobbies-title {
    text-align: center;
    font-size: 40px;
    color: white;
  }

  .aboutme-typewritter {
    margin-top: 70px;
    text-align: left;
    font-size: 20px;
    color: #d2001a;
    font-weight: bold;
  }

  .aboutme-typewritter h4 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 40px;
  }

  /* SKILLS SECTION */

  .skills-title {
    margin-left: 20%;
    padding: 50px 10px;
    font-size: 45px;
    font-weight: bold;
  }

  .skills-col {
    margin: auto auto;
    padding: 30px 30px;
    text-align: center;
    color: gray;
  }

  .skillsCol-content {
    font-size: 23px;
  }

  .tagcloud {
    color: white;
    font-size: 20px;
    margin: 40px auto;
  }

  /* PROJECTS SECTION  */

  .projects-title {
    font-size: 90px;
    margin-left: 35px;
    position: relative;
    z-index: -1;
  }

  .projects-row {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    z-index: 11;
    margin-left: 1px;
  }

  .projects-row2 {
    width: 100%;
    text-align: center;
    margin-left: 1px;
  }

  .projects-img-gallery {
    width: 300px;
  }

  /* CONTACT SECTION  */

  .contact-background {
    height: 100%;
    width: 100%;
    background-color: #171717;
    position: relative;
    display: flex;
    background-image: url(../public/code-clipart2.PNG);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 350px;
  }

  .contact-form {
    text-align: center;
    margin: auto auto;
    padding-bottom: 50px;
  }

  .contact-title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    color: #100f0f;
    display: inline-block;
  }

  .contact-title-dot {
    display: inline-block;
    font-size: 110px;
    color: #d2001a;
  }

  .contact-input {
    display: block;
    width: 15rem;
    height: 3rem;
    font-weight: bold;
    padding: 10px;
    background-color: #100f0f;
    border: none;
    color: white;
    outline: none;
  }

  .contact-textarea {
    display: block;
    width: 15rem;
    height: 7rem;
    font-weight: bold;
    padding: 10px;
    background-color: #100f0f;
    border: none;
    color: white;
    outline: none;
  }
}
